@model RecipeViewModel

<h1>Recipe: @Model.Recipe.Name</h1>

<table>
    <thead>
        <tr>
            <th scope="col">Ingridients</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.Recipe.Ingredients)
        {
            <tr>
                <td>@ingredient.Amount @ingredient.MeasuringUnit</td>
                <td>@ingredient.Name</td>
            </tr>
        }
    </tbody>
</table>

<table>
    <thead>
        <tr>
            <th scope="col">Steps</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var step in Model.Recipe.Steps)
        {
            <tr>
                <td>@step.Order</td>
                <td>@step.Description</td>
            </tr>
        }
    </tbody>
</table>