@model RecipeViewModel

<div class="flex-container-column">
    <div>
        <h1 class="element">Recipe: @Model.Recipe.Name</h1>
        <span class="element">Created by: @Model.Recipe.UserEmail</span>
        <div class="flex-container-row section">
            <table class="element">
                <thead>
                    <tr>
                        <th scope="col">Ingridients</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recIng in Model.Recipe.Ingredients)
                    {
                        <tr>
                            <td>@recIng.Amount @recIng.MeasuringUnit</td>
                            <td>@recIng.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="flex-container-row section">
            <table class="element">
                <thead>
                    <tr>
                        <th scope="col">Steps</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var step in Model.Recipe.Steps)
                    {
                        <tr>
                            <td>@step.Order</td>
                            <td>@step.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="buttons">
            <button id="editButton" type="button" class="btn color">Edit</button>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $("#editButton").click(editRecipe);
    });

    function editRecipe() {
        window.location.href = "/Recipe/EditRecipe/" + $("#recipeId").val();
    }
</script>