@model HomeViewModel
<h1>Recipes</h1>

@if (Model.Recipes.Count == 0)
{
    <span>No recipes for display</span>
}
else
{
    foreach (var recipe in Model.Recipes)
    {
    <div>
        <h4>Name: @recipe.Name</h4>

        <table>
            <thead>
                <tr>
                    <th scope="col">Ingridients</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var recipeIngredient in recipe.RecipeIngredients)
                {
                    <tr>
                        <td>@recipeIngredient.Amount @recipeIngredient.MeasuringUnit</td>
                        <td>@recipeIngredient.Ingredient.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        
        <table>
            <thead>
                <tr>
                    <th scope="col">Steps</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var step in recipe.Steps)
                {
                    <tr>
                        <td>@step.Order</td>
                        <td>@step.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
}


